{% extends "layout.html" %}

{% block css %}

{% endblock %}
{% block content %}
    <div class="row">
        <div class="d-flex flex-row">
            <h3>Sensors</h3>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-self-center">
            <div class="d-flex flex-row card-group">
                <div class="d-flex card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Humidity
                        </h5>
                        <h2 id="humidity_container">

                        </h2>
                        <small>Last updated: <small id="temperature_timestamp"></small></small>
                    </div>
                </div>
                <div class="d-flex card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Temperature
                        </h5>
                        <h2 id="temperature_container">

                        </h2>
                        <small>Last updated: <small id="humidity_timestamp"></small></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex flex-row">
            <h3>Relays</h3>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-self-center">
            <div class="d-flex flex-row card-group flex-wrap">
                {% for relay in context.relay_states.values() %}
                    <div class="d-flex card">
                        <div class="card-body">
                            <h3 class="card-title">
                                Relay {{ relay.relay_id }}
                            </h3>
                            <input type="checkbox"
                                   id="relay_toggle_{{ relay.relay_id }}"
                                   relay_id="{{ relay.relay_id }}"
                                   class="relay-toggle"
{#                                   Toggle's state gets disabled if relay is closed #}
                                   {% if relay.current_state == 0 %}
                                       checked
                                   {% endif %}
                                   data-toggle="toggle"
                                   data-onstyle="success"
                                   data-offstyle="danger"
                                   data-on="Enabled"
                                   data-off="Disabled">
                            {{ relay.current_state }}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    {% for relay in context.relay_states.values() %}

    {% endfor %}

    <div class="row">
        <h3>Timing</h3>
    </div>
    <div class="row">
        <div class="card-group">
            <div class="d-flex card">
                {% include "mqtt/slider.html" %}
            </div>
        </div>
    </div>



{% endblock %}

{% block js %}

    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
       socket.on('relay_states', function(msg) {
           // Fix this double quote thing later on on rpi
           // This is not working. Can't pass existing relay states to template
           relays_json = JSON.parse(msg);
           console.log(relays_json);
           for(let item in relays_json) {
               obj = JSON.parse(relays_json[item]);
               relay_id = obj["relay_id"];
               relay_state = obj["current_state"];
               // $("#relay_toggle_" + relay_id).prop("checked", !relay_state).change();
               console.log(relay_id, relay_state);
           }

            $("#relay_states_container").text(relays_json)
       });
       socket.on("humidity", function (msg) {
           message_data = JSON.parse(msg);
           humidity = Number((message_data.humidity).toFixed(2));
           timestamp = message_data.timestamp;
           console.log(message_data);
            $("#humidity_container").html(humidity);
            $("#humidity_timestamp").html(timestamp);
       });
       socket.on("temperature", function (msg) {
           message_data = JSON.parse(msg);
           timestamp = message_data.timestamp;
           temperature = Number((message_data.temperature).toFixed(2));
           console.log(message_data);
            $("#temperature_container").html(temperature);
            $("#temperature_timestamp").html(timestamp);
       });
       socket.on("jobs", function (msg) {
           console.log(msg);
           jobs = msg;
           jobs.forEach(element => $("#open_time_container").append(
               '<li class="list-group-item">${element.job_id}, ${element.job_next_run}, ${element.called_function}</li>'));
           $("#open_time_container").text(msg);
       });
    </script>
    <script type="text/javascript" charset="utf-8">
    // An event handler for a change of value
        $('input.relay-toggle').on('change', function(event) {
            socket.emit('relay_state_change', {
                relay_id:$(this).attr('relay_id'),
                data: $(this).prop('checked')
             });
            console.log($(this).prop('checked'));
             return false;
         });
    </script>
{% endblock %}